.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Box 0 - Header */

.header {
  font-size: 48px;
  font-weight: 900;
  min-width: 300px;
  color: blanchedalmond;
  padding-left: 50px;
  padding-top: 50px;
}

button {
  background: #3882f6;
  color: white;
  font-weight: 700;
}

.box0,
.box0-links {
  display: flex;
}

.box0 {
  justify-content: space-between;
  background: #1f2937;
}

.box0-links {
  justify-content: space-between;
  padding-right: 40px;
  padding-top: 40px;
}

.header-subtext {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.img {
  display: flex;
  flex-wrap: nowrap;
  /* align-self: flex-end; */
}

.logo {
  padding-left: 40px;
  padding-top: 40px;
}

.header-subtext {
  display: flex;
  padding-left: 50px;
  color: #e5e7eb;
  font-size: 18px;
}

/* Box 1 - 'My awesome website' section, with large picture */

.box1 {
  background: #1f2937;
  padding-top: 100px;
}

.box1-item-text {
  margin: auto;
}

.box1-container {
  display: flex;
  justify-content: space-between;
}

.box1button {
  padding-left: 50px;
  /* margin-top: 30px; */
  size: 200px;
}

.img1 {
  /* display: flex; */
  padding-right: 200px;
  padding-bottom: 200px;
}

a {
  text-decoration: none;
  color: gray;
}

.box2-header {
  font-size: 32px;
  font-weight: 900;
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3 {
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  padding-top: 40px;
  font-size: 36px;
  font-weight: lighter;
  color: #1f2937;
  max-width: 1000px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.author {
  padding-bottom: 40px;
}

.pics {
  /* they're not really wrapping */
  /* need to figure out to center pictures according to the text */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 1;
  /* how do i use flex shrink? */
}

.box4 {
  background: white;
  display: flex;
  width: 600px;
  height: 400px;
}

.realbox4 {
  width: 800px;
  height: 200px;
  background: #3882f6;
  margin: auto;
  border-radius: 1em;
  align-items: center;
  justify-content: center;
}

.box4-container {
  color: #e5e7eb;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

.box4-header {
  font-size: 32px;
  font-weight: 600;
  padding-top: 30px;
}

.box4-subtext {
  padding-bottom: 30px;
}

ul {
  list-style: none;
}

li {
  padding: 16px;
}
