.footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 48px;
    font-weight: 900;
    color:blanchedalmond;
}

a {
    text-decoration: none;
    color: gray;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: 700;
}
.box0 {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.box1 {
    display: flex;
    /* justify-content: space-between; */
    background-color: #1F2937;
}
.img1 {
    display: flex;
    align-items: flex-end;
}

.box0-links {
    display: flex;
    float: right;
}

ul {
    list-style: none;
}

li {
    padding: 16px;
}