/* html, body {
  height: 100%;
} */

/* Fix white space on margins error */

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
  margin: 8px;
}

button {
  color: white;
  background-color: #3882f6;
  font-weight: 900;
  min-width: 150px;
  min-height: 40px;
  border-radius: 1em;
}

/* Box 0 - Header */

.box0,
.box0-container {
  display: flex;
}

.box0 {
  justify-content: space-between;
  background: #1f2937;
}

.box0-container {
  padding-right: 40px;
  align-items: center;
}

.img {
  max-width: fit-content;
}

.logo {
  padding-left: 40px;
  padding-top: 40px;
}

/* Box 1 - 'My awesome website' section, with large picture */

.header {
  font-size: 48px;
  font-weight: 900;
  min-width: 300px;
  color: white;
  padding-left: 50px;
  padding-top: 50px;
}

.header-subtext {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  padding-left: 50px;
  color: #e5e7eb;
  font-size: 18px;
}

.box1 {
  background: #1f2937;
  /* padding-top: 100px; */
}

.box1-item-text {
  margin: auto;
}

.box1-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 200px;
  padding-right: 200px;
}

.box1button {
  padding-left: 50px;
  /* margin-top: 30px; */
  size: 200px;
}

.img1 {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 100%;
  height: auto; */
  padding-left: 50px;
}

/* Box 2 */

.box2-header {
  font-size: 32px;
  font-weight: 900;
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* unsure how to properly shrink images for mobile, but I don't need to know that for now */
  flex-shrink: 1;
  /* Center descriptions */
  text-align: center;
}

.pic-1 {
  max-width: 160px;
}

.pic-2 {
  max-width: 150px;
}

.pic-3 {
  max-width: 150px;
}

/* Box 3 */

.box3 {
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  padding-top: 40px;
  font-size: 36px;
  color: #1f2937;
  max-width: 1000px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.author {
  padding-bottom: 40px;
}

/* Box 4 */

.box4 {
  background: white;
  display: flex;
  width: 800px;
  height: 300px;
}

.realbox4 {
  width: 800px;
  height: 150px;
  background: #3882f6;
  margin: auto;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box4-container {
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box4-header {
  font-size: 32px;
  font-weight: bolder;
  padding-top: 30px;
}

.box4-subtext {
  padding-bottom: 30px;
}

/* Footer */

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}
